.ServiceInfo {
    max-width: 95%;
    padding: 3%;
    margin: 0px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    border: 4px solid #1c1c1c;
    border-radius: 120px;
    box-sizing: border-box;
    position: relative; 
    z-index: 1; 
}

.ServiceInfo-About {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ServiceInfo_title {
    text-align: left;
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 40px;
}

.ServiceInfo_text {
    text-align: justify;
    font-size: 22px;
    line-height: 32px;
    width: 90%;
    margin: 0 0 20px 40px;
}

.ServiceInfo_list {
    font-size: 22px;
    line-height: 30px;
    width: 90%;
    font-weight: 500;
}

.ServiceInfo_list li {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.ServiceInfo_icon {
    width: 55px;
    padding: 0 10px 0 0;
}

.ServiceInfo_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.ServiceInfo_image img {
    width: 70%;
}

@media (max-width: 768px) {

    /* Виправлення для мобільних пристроїв */
    .ServiceInfo {
        flex-direction: column; /* Заміна column-reverse на column для звичайного порядку */
        border-radius: 60px;
        padding: 0;
    }

    .ServiceInfo-About {
        max-width: 100%;
    }

    .ServiceInfo_image {
        width: 100%;
    }

    .ServiceInfo_image img {
        width: 100%;
        border-radius: 60px 60px 10px 10px;
    }

    .ServiceInfo_title {
        margin: 20px 0;
        font-size: 40px;
    }

    .ServiceInfo_text {
        font-size: 20px;
        margin: 5px;
    }

    .ServiceInfo_list {
        font-size: 18px;
        line-height: 26px;
        width: 95%;
        font-weight: 400;
    }

    .ServiceInfo_list li {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
    }

    .ServiceInfo_icon {
        width: 50px;
        padding: 0 10px 0 0;
    }

    .ServiceInfo_image {
        width: 100%;
    }

    .ServiceInfo_image img {
        width: 100%;
    }
}
